/* Logbox container */
#logbox {
  width: 100%;
  height: calc(40vh - 2.75em);
  min-height: 3em;
  overflow: auto scroll;
  border: 2px solid black;
  padding: 3px;
}

@media only screen and (min-width: 30em) {
  #logbox {
    height: 40vh;
  }
}
