/* Main styling */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: auto;
  font-size: 100%;
}

.center-text {
  text-align: center;
}

.bold-text {
 font-weight: bold;
}

.hidden {
  display: none;
}

.menu-separator {
  list-style-type: none;
  width: 95%;
  border: 1px solid black;
  margin: 2px;
}

table button {
  font-size: 1.25em;
  width: 1em;
  padding: 0;
  line-height: 1;
  background: none;
  border: none;
}

table button:hover {
  background: #dddddd;
}
