/* Main styling */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: auto;
  font-size: 100%;
}

.center-text {
  text-align: center;
}

.hidden {
  display: none;
}

.menu-separator {
  list-style-type: none;
  width: 95%;
  border: 1px solid black;
  margin: 2px;
}
